{% extends "tmpl/base.html" %}

{% block content %}

		<div class="Web_OnlineTools_Table" >
			<table height=200 id="tab_liste">
			<tr>
			<td>Code Fx</td> 
			<td>Nom Fx</td> 
			<td>Emetteur</td> 
			<td>Destinataire</td>
			<td>Status</td>
			<td>Action</td>
			</tr>
			{% for obj in objs %}
				<tr>
					<td>{{ obj.cod_fx|upper }}</td>
					<td>{{ obj.nom_fx }}</td>
					<td>{{ obj.from_user_list_name}}</td>
					<td>{{ obj.to_user_list_name }}</td>
					<td style="text-align:center;">{{ obj.fx_status }}</td>
					<td style="text-align:center;">
					{% if UPLOAD %}
						{% if obj.fx_status == 'UP' %}
							<a href="/fx/up/{{obj.id}}"><img src='/static/img/upload.png'></a>
						{% else %}
							<img src='/static/img/interdit.png'>
						{% endif %}
					{% else %}
						{% if obj.fx_status == 'DOWN' %}
							<a href="/fx/do/{{obj.id}}"><img src='/static/img/download.png'></a>
						{% else %}
							<img src='/static/img/interdit.png'>
						{% endif %}
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
{% endblock %}

{% block pagine %}
	<ul id="menu-bar">
	{% if objs.has_previous %}
		<li><a href="?page={{ objs.previous_page_number }}">previous</a></li>
	{% endif %}

		<li><p>Page {{ objs.number }} of {{ objs.paginator.num_pages }}.<p></li>

	{% if objs.has_next %}
		<li><a href="?page={{ objs.next_page_number }}">next</a></li>
	{% endif %}
	</ul>
{% endblock %}

