{% extends "contact/tmpl/base.html" %}

{% block content %}

			<div id="contenu_fiche">
			<table id="table_liste">
			<tr>
			<th> Code Contact </th> <th>Nom Contact</th> <th>Type de Contact</th><th>Modif</th><th>Effac</th>
			</tr>
			{% for obj in objs %}
			{# Each "obj" is a model object. #}
				<tr>
					<td>{{ obj.cod_contact|upper }}</td><td>{{ obj.nom_contact }}</td><td>{{ obj.typ_contact }}</td>
					<td align="center"><a href="/contact/mo/{{obj.id}}"><img src='/static/img/modif.png'></a></td>
					<td align="center"><a href="/contact/del/{{obj.id}}"><img src='/static/img/delete.png'></a></td>
				</tr>
			{% endfor %}
			</table>
			</div>

{% endblock %}

{% block pagine %}
	<div id="paginator">
	<ul id="pagine">
		{% if objs.has_previous %}
			<li>
				<a href="?page={{ objs.previous_page_number }}">previous</a>
			</li>
		{% endif %}
			<li>
				<p>Page {{ objs.number }} / {{ objs.paginator.num_pages }}.<p>
			</li>
		{% if objs.has_next %}
			<li>
				<a href="?page={{ objs.next_page_number }}">next</a>
			</li>
		{% endif %}
	</ul>
	</div>
{% endblock %}


